.game-setup-screen .buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.game-type-selection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-game {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
